@use 'var'as *;
@use 'mixin'as *;
@use 'animation'as *;

* {
    padding: 0;
    margin : 0;
}

body {
    padding   : 0;
    margin    : 0;
    min-height: 100vh;
    color     : $color-text;
    font      : normal $text-size "Verdana", Arial, sans;
    background: $bg-color;
}

h1 {
    @include responsive(font-size, 1.5rem, 2.5rem);
}

h2 {
      font-weight: 700;
      margin-bottom: 1rem;
    @include responsive(font-size, 1.25rem, 2.25rem);
}

h3 {
    @include responsive(font-size, 1rem, 1.75rem);
}

h4 {
    @include responsive(font-size, 1rem, 1.5rem);
}

h5 {
    @include responsive(font-size, 1rem, 1.5rem);
}

.headingStyle {
    color      : $color-primary;
    text-shadow: 0 2px 0 #00000050;
}
.subTitle{
    text-transform: uppercase;
      font-weight: 600;
      color: $color-primary;
      letter-spacing: 1px;
      margin-bottom: 0.5rem;
      @include responsive(font-size, 0.75rem, .875rem);
}

.icon-chai{
    background: url('../../images/chai-gray.svg');
    width: 40px;
    height: 36px;
    display: inline-block;
    background-size: 100%;
}
.flex{
    display: flex;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container {
    max-width: 90%;
    width    : 1120px;
    margin   : 0 auto;
}



section {
    // min-height: 80vh;
    box-sizing: border-box;    
    @include responsive(padding, 5vh 5vw, 10vh 10vw);

    &:nth-child(even) {
        background: $bg-light;
    }
}

.live {
    width        : 0.6rem;
    height       : 0.6rem;
    display      : inline-block;
    background   : red;
    border-radius: 50%;
    animation    : live 0.5s infinite;

    &.lg {
        width : 0.75rem;
        height: 0.75rem;
    }
}


footer {
    background-color: #1a1a1a;
    color           : #eee;
    position        : relative;
    padding         : 4rem 2rem;
    overflow        : hidden;
    font-family     : 'Segoe UI', sans-serif;

    .container {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: space-between;
        position       : relative;
        z-index        : 2;
    }

    .left {
        flex     : 1;
        min-width: 250px;

        .logo {
            font-size    : 1.5rem;
            font-weight  : 700;
            color        : #ff7d0c;
            margin-bottom: 1rem;
        }

        .info {
            margin-bottom: 1rem;
            font-size    : 1rem;
            color        : #ccc;
        }

        ul {
            display      : flex;
            gap          : 0.6rem;
            margin-bottom: 1rem;

            li a {
                display: inline-block;

                &:hover {
                    transform: translateY(-5px);
                }
            }
        }

        div:last-child {
            font-size: 0.8rem;
            color    : #777;
        }
    }

    .right {
        flex           : 1;
        min-width      : 250px;
        display        : flex;
        gap            : 3rem;
        justify-content: flex-end;


    }

    ul {
        list-style: none;
        padding   : 0;

        li {
            margin-bottom: 0.5rem;

            a {
                text-decoration: none;
                color          : #bbb;
                font-size      : 0.95rem;
                position       : relative;

                transition: all 0.3s;

                &::before {
                    position  : absolute;
                    left      : 0;
                    bottom    : -2px;
                    content   : '';
                    width     : 100%;
                    height    : 2px;
                    background: $color-primary;
                    opacity   : 0;
                    transform : scale(0);
                    transition: all 0.3s;
                }

                &:hover {
                    color: #fff;

                    &::before {
                        opacity  : 1;
                        transform: scale(1);
                    }
                }
            }
        }
    }

    h1 {
        position      : absolute;
        top           : 50%;
        left          : 50%;
        transform     : translate(-50%, -50%);
        font-size     : 8vw;
        font-weight   : 900;
        color         : #ffffff10;
        z-index       : 1;
        pointer-events: none;
        white-space   : nowrap;
        opacity       : 0;
        animation     : fadeInZoom 1.5s ease-out forwards;
    }
}