$color-primary      :#ff7d0c;
$color-primary-light:#ffe5cc;
$color-primary-dark :#cc640a;
$bg-color           :#fdfaf6;
$bg-card            :#ffffff;
$bg-light            :#fffaf4;
$color-text         :#333333;
$color-text-light   :#666666;
$bg-footer          :#1f1f1f;
$text-size          :1rem;
