$color-primary      :#ff7d0c;
$color-primary-light:#fe9332;
$color-primary-dark :#cc640a;
$color-accent       :#ffc107;
$bg-color           :#fdfaf6;
$bg-card            :#ffffff;
$bg-light            :#f2f2f2;
$color-text         :#333333;
$color-text-light   :#666666;
$bg-footer          :#1f1f1f;
$text-footer        :#aaaaaa;
$text-size          :1rem;